.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}