.up {
	position: fixed;
	right: 30px;
	bottom: 30px;

	width: 40px;
	height: 40px;

	cursor: pointer;

	border: none;
	border-radius: 10px;
	background: var(--primary);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.up:hover {
	background-color: var(--primary-hover);
}
