.up {
	width: 40px;
	height: 40px;
	background: var(--primary);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	bottom: 30px;
	right: 30px;
	position: fixed;
	cursor: pointer;
	border: none;
}

.up:hover {
	background-color: var(--primary-hover);
}