html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	font-family: "Noto Sans", sans-serif;
	background: #F5F6F8;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--gray-light: #EBEBEB;
	--primary: #7653FC;
	--primary-hover: #603EE6;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}
